#chart {
  max-width: 700px;
  margin: 10px auto; /* centra horizontalmente */
  height: 400px;
}

.chart-container {
  max-width: 700px;
  margin: 0 auto;   /* centra horizontalmente */
  height: 400px;
}
#chart {
  width: 100%;
  height: 100%;
}


#sonic {
  width: 60%;
  margin: 10px; /* quitar margen superior extra */
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* todo a la izquierda */
  gap: 12px;               /* espacio pequeño entre bloques */
  margin-left: 20px;       /* opcional, un poco de margen lateral */
}